# Dependencies
node_modules
.pnpm-store

# Production / Build Artifacts
dist
build

# Local Environment Variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

todo.md